<div class="container-fluid">
	<div class="row">
    <div class="col-6 text-center">
    	<h1>Add / delete questions</h1>
    </div>
    <% @questions.each do |question| %>
    <%= question.text %>
    <%= link_to 'Delete',  question,  method: :delete, class: "btn btn-primary col-6" %>
    <br><br>
    <% end %>

    <%= form_for :question, url: "/questions", method: "post" do |f| %>
        <%= f.text_field :text %>
        <%= f.submit "Create" %>
    <% end %>
  </div>
</div>

<div class="container-fluid">
	<div class="row">
    <div class="col-6 text-center">
    	<h1>Add / delete allowed users</h1>
    </div>
    <% @allowed_users.each do |allowed_user| %>
    <%= allowed_user.email %>
    <%= link_to 'Delete',  allowed_user,  method: :delete, class: "btn btn-primary col-6" %>
    <br><br>
    <% end %>

    <%= form_for :allowed_user, url: "/allowed_users", method: "post" do |f| %>
        <%= f.text_field :email %>
        <%= f.submit "Create" %>
    <% end %>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-center">
            <h1>Add user screenshots</h1>
        </div>
        <%= form_for :image_upload, url: "/image_uploads", method: "post", html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>
        <%= f.fields_for :images do |p| %>
            <div class="field">
                <%= p.label :files %><br>
                <%= p.file_field :file, :multiple => true, name: "images[file][]" %>
            </div>
        <% end %>

        <div class="actions">
            <%= f.submit %>
        </div>
        <% end %>
    </div>
</div>
