<div class="container-fluid">
    <%= link_to 'Download CSV', admin_download_data_url, class: "btn btn-primary col-6" %>
</div>

<div class="container-fluid">
	<div class="row">
    <div class="col-6 text-center">
    	<h1>Add / delete questions</h1>
    </div>
    <% @questions.each do |question| %>
    <%= question.text %>
    <%= link_to 'Delete',  "/questions/#{question.id}",  method: :delete, class: "btn btn-primary col-6" %>
    <br><br>
    <% end %>

    <%= form_for :question, url: "/questions", method: "post" do |f| %>
        <%= f.text_field :text %>
        <%= f.submit "Create" %>
    <% end %>
  </div>
</div>

<div class="container-fluid">
	<div class="row">
    <div class="col-6 text-center">
    	<h1>Add / delete allowed users</h1>
    </div>
    <% @allowed_users.each do |allowed_user| %>
    <%= allowed_user.email %>
    <%= link_to 'Delete',  "/allowed_users/#{allowed_user.id}", class: "btn btn-primary col-6" %>
    <br><br>
    <% end %>

    <%= form_for :allowed_user, url: "/allowed_users", method: "post" do |f| %>
        <%= f.text_field :email %>
        <%= f.submit "Create" %>
    <% end %>
  </div>
</div><br><br>

<div class="container-fluid">
    <div class="row">
        <%= link_to 'Pull latest from S3 bucket',  "/image_uploads",  class: "btn btn-primary col-6" %>
    </div>
</div><br><br>
