<% @questions.each do |question| %>
	<% if question == @questions.first %>
		<div id="question_<%= @questions.index(question) %>" class="question_div">
	<% else %>
		<div id="question_<%= @questions.index(question) %>" class="question_div", hidden="true">
	<% end %>
	<div class="row col-12 text-center">
		<h1><%= question.text %></h1>
	</div>
	<div class="btn-group" role="group">
		<a href="#" class="btn btn-primary", id="question_<%= @questions.index(question) %>_back">^ Back</a>
		<a href="#" class="btn btn-primary", id="question_<%= @questions.index(question) %>_back">^ Back</a>
		<a href="#" class="btn btn-primary", id="question_<%= @questions.index(question) %>_back">^ Back</a>
		<a href="#" class="btn btn-primary", id="question_<%= @questions.index(question) %>_back">^ Back</a>
	</div>
<% end %>