<!DOCTYPE html>
<html>
<head>
  <title>Kiteka</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

 <div class="container">
 	<% if user_signed_in? %>
  		<li>
  			<%= link_to('Logout', destroy_user_session_path,) %>        
  		</li>
	<% end %>
   <%= yield %>
 </div>
</body>
</html>
